<html>
<head>
    <meta charset="utf-8"/>
    <title>Sehoon's Blog</title>

    <!--  Base css  -->
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- bootstrap css CDN   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">세훈이의 블로그 </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">갤러리 </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SNS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Facebook 바로가기 </a></li>
                        <li><a class="dropdown-item" href="#">Github 바로가기 </a></li>
                        <li><a class="dropdown-item" href="#">Instagram 바로가기 </a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="background">

    <br/>
    <!-- Main contents   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/image/프사.jpeg" class="img-thumbnail" alt="...">
            </div>
            <div class="col-sm-8">
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        이름 :
                    </div>
                    <div class="col-sm-4">
                        인세훈
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        학교 :
                    </div>
                    <div class="col-sm-4">
                        중앙대학교
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        학과 :
                    </div>
                    <div class="col-sm-4">
                        융합공학부 디지털 이미징 전공
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        좋아하는 코딩 :
                    </div>
                    <div class="col-sm-8">
                        <span class="badge rounded-pill bg-primary">Python</span>
                        <span class="badge rounded-pill bg-success">Django</span>
                        <span class="badge rounded-pill bg-danger">C++</span>
                        <span class="badge rounded-pill bg-danger">C#</span>
                        <span class="badge rounded-pill bg-success">Java</span>
                        <span class="badge rounded-pill bg-info">React</span>
                        <span class="badge rounded-pill bg-warning">AWS</span>
                        <span class="badge rounded-pill bg-dark">Docker</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                dfd
            </div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
        </div>
    </div>
</div>
</body>
</html>