<html>
<head>
    <meta charset="utf-8"/>
    <title>Sehoon's Blog</title>

    <!--  Base css  -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/mondrian.css">
    <link rel="stylesheet" href="../static/css/button.css">
    <!-- bootstrap css CDN   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainPage.html">세훈이의 블로그 </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="mainPage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">갤러리 </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        SNS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Facebook 바로가기 </a></li>
                        <li><a class="dropdown-item" href="#">Github 바로가기 </a></li>
                        <li><a class="dropdown-item" href="#">Instagram 바로가기 </a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="background">
    <br/>
    <!-- Main contents   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/image/프사.jpeg" class="img-thumbnail" alt="...">
            </div>
            <div class="col-sm-8">
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        이름 :
                    </div>
                    <div class="col-sm-4">
                        인세훈
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        학교 :
                    </div>
                    <div class="col-sm-4">
                        중앙대학교
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        학과 :
                    </div>
                    <div class="col-sm-4">
                        융합공학부 디지털 이미징 전공
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        좋아하는 코딩 :
                    </div>
                    <div class="col-sm-8">
                        <span class="badge rounded-pill bg-primary">Python</span>
                        <span class="badge rounded-pill bg-success">Django</span>
                        <span class="badge rounded-pill bg-danger">C++</span>
                        <span class="badge rounded-pill bg-danger">C#</span>
                        <span class="badge rounded-pill bg-success">Java</span>
                        <span class="badge rounded-pill bg-info">React</span>
                        <span class="badge rounded-pill bg-warning">AWS</span>
                        <span class="badge rounded-pill bg-dark">Docker</span>
                        <span class="badge rounded-pill bg-info">Graphql</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=col-sm-6>
                <div class="row">
                    <div class="col">
                        <br>
                        <h4>상쾌지수</h4>
                        <button class="temperature">
                            <span class="wave"></span>
                            80%
                        </button>
                    </div>
                    <div class="col">
                        <br>
                        <h4>불쾌지수 </h4>
                        <button class="temperature">
                            <span class="wave wave-bad" style="background:red"></span>
                            30%
                        </button>
                    </div>
                    <div class="col">
                        <br>
                        <h4>코딩능력 </h4>
                        <button class="temperature">
                            <span class="wave wave-coding" style="background:green"></span>
                            49%
                        </button>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <h4>세훈이 경력사항 </h4>
                    <div class="col">
                        <div class="card text-white bg-primary mb-3" style="max-width: 14rem;">
                            <div class="card-header">멋쟁이사자처럼</div>
                            <div class="card-body">
                                <h5 class="card-title">Webeing</h5>
                                <p class="card-text">환경 관련 서비스를 만들었어요! 롯데해커톤에서 금상을 탔어요! </p>
                                <span class="badge rounded-pill bg-dark">HTML</span>
                                <span class="badge rounded-pill bg-dark">CSS</span>
                                <span class="badge rounded-pill bg-dark">JS</span>
                                <span class="badge rounded-pill bg-dark">Python</span>
                                <span class="badge rounded-pill bg-dark">Django</span>
                                <span class="badge rounded-pill bg-dark">AWS</span>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-info mb-3" style="max-width: 14rem;">
                            <div class="card-header">멋쟁이사자처럼</div>
                            <div class="card-body">
                                <h5 class="card-title">링크모아 </h5>
                                <p class="card-text">공부를 도와주는 플랫폼이에요! 아이디어톤에서 4등을 했어요! </p>
                                <span class="badge rounded-pill bg-dark">HTML</span>
                                <span class="badge rounded-pill bg-dark">CSS</span>
                                <span class="badge rounded-pill bg-dark">JS</span>
                                <span class="badge rounded-pill bg-dark">AWS</span>
                                <span class="badge rounded-pill bg-dark">crawling</span>
                                <span class="badge rounded-pill bg-dark">Python</span>
                                <span class="badge rounded-pill bg-dark">Django</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <br>
                <h4>세훈이 변천사</h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="height:100vh; width:100%">
                        <div class="carousel-item active">
                            <img src="../static/image/세훈프사2.jpeg" style="object-fit: cover;" class="d-block w-100"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/image/세훈프사3.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/image/세훈프사4.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>